<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">



<footer th:fragment="footer">
  <div class="footbody">
    <div class="footdiv">
      <img src="/images/logo.jpg" alt="로고" width="150" height="100">
      <div>
        <p>회사주소 : 서울시 동대문구</p>
        <p>이메일 : admin@gmail.com</p>
        <p>전화번호 : 010-7777-7777</p>
      </div>

      <div class="logos">
        <p class="logosP">
        <a href="#"><img src="/images/youtube.png" alt="로고" width="30" height="30"></a>
        <a href="#"><img src="/images/facebook.png" alt="로고" width="30" height="30"></a>
        <a href="#"><img src="/images/blog.png" alt="로고" width="30" height="30"></a>
        </p>
        <p class="Copyright">&copy; Copyright by codeBrew, All rights reserved.</p>
      </div>
    </div>

  </div>
</footer>
</html>