<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration

        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <mappers>
        <mapper resource="mappers/freeBoard.xml" />
        <mapper resource="mappers/freeComment.xml" />
        <mapper resource="mappers/reservation.xml" />
        <mapper resource="mappers/member.xml" />
        <mapper resource="mappers/AdminMapper.xml" />
        <mapper resource="mappers/NoticeMapper.xml"/>
        <mapper resource="mappers/pay.xml"/>
    </mappers>
</configuration>
