<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <!-- 토스페이먼츠 결제창 SDK 추가 -->
    <script src="https://js.tosspayments.com/v1/payment"></script>
</head>
<body>
<script>

    // ------ 클라이언트 키로 객체 초기화 ------
    var clientKey = "test_ck_D5GePWvyJnrK0W0k6q8gLzN97Eoq";
    var tossPayments = TossPayments(clientKey);

    tossPayments
        .requestBillingAuth("카드", {
            amount: 100,
            orderName: '토스 프라임 구독',
            customerName: '박토스',
            customerKey: 'MGaVFomIiAQPiNF00MpqT',
            successUrl: "https://my-store.com/success",
            failUrl: "https://my-store.com/fail",
        })
        .catch(function(error) {
            if (error.code === "USER_CANCEL") {
                // 결제 고객이 결제창을 닫았을 때 에러 처리
            }
        });
</script>
</body>
</html>
